%background-border{
	background: #ecf0f1;
	border-radius: 5px;
}
.btn.focus,
.btn:focus,
.form-control:focus {
	border: none;
	box-shadow: none;
	outline: none;
	background: transparent;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.phone{
	margin-top: 30px;
	text-align: center;
	>span{
		padding-left: 15px;
		margin-right: 15px;
		position: relative;
		&:before{
		display: inline-block;
		content:"";
		width: 15px;
		height: 15px;
		background: url('../../build/img/sprite.png') 140px 45px;
		position: absolute;
		top: 3px;
		left: -3px;
		}
		>span{
			font-weight: 700;
		}
	}
}
.forSearch{
	@extend %background-border;
	padding: 0 10px 0 10px;
	margin-top: 33px;
	input{
		background:transparent;
		border: none;
		&::placeholder{
			font-size: 14px;
			color: #bdc3c7;
		}
	}
	button{
		i{
		color: #bdc3c7;
		&:hover{
		color: black;
			}
		}
	}
}
.entrance{
	padding-top: 20px;
	text-align: center;
	a{
		color: #95a5a6;;
		padding: 0 10px;
		text-decoration: none;
		
		border-right: 2px solid #ecf0f1;
		&:hover{
			color: black;
		}
		&:before{
			display: inline-block;
			content: "";
			width: 15px;
			height:16px;
			background: url('../../build/img/sprite.png') 155px 45px;
			margin-right: 5px;
		}
		+a:before{
			width: 12px;
			height: 17px;
			background-position: -22px 22px;
			
		}
		+a{
			border-right: none;
			padding-right: 17px;
		}
	}
}
.bag{
	
	@extend %background-border;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
	padding: 10px 0 10px 10px;
	a{

	position: relative;
	// &:before{
	// content:"";
	padding: 24px 25px;
	background: #fff;
	border-radius: 50%;
	// position:absolute;
	// top: 6px;
	// left: 8px;
	
	&:after{
	content:"";
	width: 24px;
	height:20px;
	background: url('../../build/img/sprite.png') -45px 45px;
	position:absolute;
	top: 15px;
	left: 12px;	
	}
	
 }
 p{
 	display: flex;
	flex-direction: column;
	padding-left: 10px;
	margin: 0;
 	span{
		color: #2ecc71;
		
		>span{
			 color: #34495e;
		}
	}
 }

}