@media (min-width: 768px) and (max-width: 992px){
	.entrance a{
		padding: 0;
		margin: 0;
		border: none;
	}
}

@media (max-width: 767px) {

	header .navbar .navbar-brand{
		margin: 0 auto;
	}
	.phone{
		display: none;
	}
	.forSearch{
		margin-top: 5px;
	}
}